@media (prefers-color-scheme: light){
    :root {
        --nav-background-color: rgba(255, 255, 255, 0.9);
        --nav-border-color: rgba(115, 130, 140, 0.2);
        --nav-logo-color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --nav-background-color: rgba(16, 24, 30, 0.9);
        --nav-border-color: rgba(115, 130, 140, 0.2);
        --nav-logo-color: #fff;
    }
}

nav {
    display: flex;
    position: fixed;
    background-color: var(--nav-background-color);
    box-shadow: 0 1px var(--nav-border-color);
    height: 60px;
    width: 100%;
}

.logo {
    color: var(--nav-logo-color);
    margin: 1px;
}

#greeting {
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#greeting > h1 {
    margin: 2rem;
}

#greeting > ul > li {
    list-style: none;
}

#greeting > ul > li::before {
    content: "\003E";
}
main > h4 {
    padding: 0%;
    margin: 0%;
}

#profile {
    width: 60px;
    height: 60px;
}

#betteryoulink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#betteryou {
    width: 210px;
    height: 55px;
}

#votearound {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
}

#votearound > a {
    color: #d81b60;
    font-weight: 900;
}

#suuqe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
}

#suuqe > a {
    color: #3949ab;
    font-weight: 700;
}